@import '../../../assets/styles/_variables'
@import '../../../assets/styles/_mixins'
.btn
    background: map-get($primary, 'primary')
    border-radius: map-get($border, '20')
    +typography(20px, 500, map-get($basic, 'white'))
    border: 2px solid map-get($primary, 'primary' )
    padding: 12px 40px
    transition: all 0.5s ease
    cursor: pointer
    @media screen and (max-width: 991px)
        font-size: 15px
    @media screen and (max-width: 640px)
        font-size: 14px
.secondary
    background: map-get($primary, 'secondary')
.yellow
    border: 2px solid map-get($primary, 'yellow')
    background: transparent
    color: map-get($primary, '#FFFFFF')
    transition: 0.4s
    &:hover
        background: map-get($primary, 'yellow')
        color: map-get($basic, 'black')
.outline
    border-radius: 15px
    border: 2px solid map-get($neutral, 'lightGray')
    transition: all 0.5s ease
    background: transparent
    &:hover
        border-color: map-get($primary, 'yellow')
.disabled
    background: map-get($neutral, 'lightGray')
    color: map-get($basic, 'white')
    cursor: no-drop
    border: 1px solid transparent
.error
    background: #D80000
    color: map-get($basic, 'white')
    border: 1px solid #D80000
