@import '../../../assets/styles/_variables'
@import '../../../assets/styles/_mixins'
.libraryItem
    border: 1px solid map-get($neutral, 'gray')
    border-radius: 10px
    padding: 14px
    max-width: 300px
    width: 100%
    height: 100%
    .itemContent
        .topContent
            border-bottom: 1px solid map-get($neutral, 'gray')
            .contentText
                text-align: center
                .text
                    +typography(16px, 700, map-get($basic, 'black'))
            .contentImage
                max-width: 300px
                max-height: 250px
                width: 100%
                height: 100%
                .img
                    height: 250px
                    width: 100%
                    border-radius: 10px
        .bottomContent
            display: flex
            flex-direction: column
            justify-content: space-between
            min-height: 200px

            .contentTotal
                display: flex
                align-items: center
                column-gap: 8px
                .totalIcon
                    i
                        font-size: 24px
                        color: map-get($primary, 'primary')
                .totalNumber
                    .number
                        +typography(16px, 500, map-get($basic, 'black'))
            .contentBtn
                .btn
                    font-size: 16px
                    width: 100%
        .cardInfo
            margin-bottom: 20px
            display: flex
            flex-direction: column
            row-gap: 10px
            .infoTitle
                .title
                    +typography(16px, 500, map-get($neutral, 'lightGray'))
            .infoText
                .text
                    display: -webkit-box
                    -webkit-line-clamp: 2
                    -webkit-box-orient: vertical
                    overflow: hidden
                    text-overflow: ellipsis
                    +typography(14px, 500, map-get($neutral, 'lightGray'))
