@import './_mixins'
@import './_variables'
*
    font-family: 'Space Grotesk'
*,
::before,
::after
    box-sizing: border-box
html, body
    margin: 0
    padding: 0
    background-color: map-get($basic, "white")
html
    overflow-x: hidden
body
    overflow: hidden
p,
h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
